.custom-footer {
    margin-top: 10rem;
}

@media (max-width: 768px) {
    .custom-footer {
        margin-top: 3rem; 
    }

    .custom-footer .d-flex {
        flex-wrap: wrap; 
        justify-content: center;
    }

    .custom-footer a {
        margin: 0.5rem; 
    }
}
@media (max-width: 767.98px) {
    .form {
      width: 90%;
      margin: 0 auto;
    }
  }
  